.home_component {
    width: 80vw;
    margin: 15rem auto;

    div.container {
        height: 100%;
        width: 100%;

        h1 {
            font-size: 2rem;
            line-height: 4rem;
            letter-spacing: 0.03em;
            display: block;
            font-weight: 400;
            width: 70rem;

            span {
                color: map-get($color, 0);
            }
        }

        .social_link {
            display: flex;
            flex-direction: row;
            column-gap: 2rem;
            margin-top: 3rem;

            a {
                display: grid;
                grid-template-columns: auto auto;
                column-gap: 0.5rem;
                align-items: center;
                font-size: 1rem;

                span:first-child {
                    font-weight: 600;
                    color: map-get($color, 0);
                }
            }
        }
    }
}

div.dark .home_component {
    color: map-get($light_color, 0);
}

div.light .home_component {
    color: map-get($dark_color, 0);
}