@import "tailwindcss";

@theme {
  --color-primary: #fa8128;
  --color-secondary: rgb(22, 24, 28);
}

:root.dark {
  --background: rgb(22, 24, 28);
  --foreground: rgb(255, 240, 235);
}

:root.light {
  --background: rgb(255, 255, 255);
  --foreground: rgb(22, 24, 28);
}

body {
  background-color: var(--background);
  color: var(--foreground);
}
