header {
  width: 90%;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr auto auto;
  padding: 4rem 0;
  align-items: center;
  column-gap: 3rem;
  div.heading {
    h1 {
      font-size: 2.1rem;
      font-weight: 300;
      color: #ffffff;
      letter-spacing: 0.08rem;
    }
  }
  div.contact {
    align-items: center;
    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 1.3rem;
      font-weight: 400;
      letter-spacing: 0.08rem;
      transition: all 0.5s ease;
      &:hover {
        span {
          color: rgba(255, 255, 255, 0.7);
        }
      }
      span {
        transition: all 0.5s ease;
        margin-left: 0.3rem;
        font-weight: 300;
      }
    }
  }
}
